.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

#google_translate_element {
    position: absolute;
    top: calc(3px + 1px);
    right: 20px !important;
}

.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}
.goog-te-gadget {
    font-size: 19px !important;
}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value:hover {
    text-decoration: none;
}

/* 
    attempting to fully disable popup for original text in Chrome which is not fully possible 
    as Chrome does not allow full control over popup windows showing original text so the 
    rules below may simply go away.
*/
#goog-gt-tt {
    display: none !important;
    top: 0px !important;
}

.goog-tooltip skiptranslate {
    display: none !important;
    top: 0px !important;
}

.activity-root {
    display: hide !important;
}

.status-message {
    display: hide !important;
}

.started-activity-container {
    display: hide !important;
}