.text-muted {
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
}


.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

/*@media (min-width: 500px) {
            .container-fluid{
                max-width: 800px;
            }
        }*/

@media (min-width: 768px) {
    .container-fluid {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 900px;
    }
}
